<div class="col-md-6 mx-auto">
    <div class="card card-container">
        <form
            (ngSubmit)="registrationForm.form.valid && onSubmit()"
            #registrationForm="ngForm"
            novalidate
        >
            <div class="form-group container mt-3">
                <label for="firstname">{{ 'form.firstname' | translate }}</label>
                <input
                    type="text"
                    class="form-control"
                    id="firstname"
                    name="firstname"
                    [(ngModel)]="registrationFormData.firstname"
                    required
                    pattern="[A-zÀ-ž\s-.]+"
                    maxlength="20"
                    #firstname="ngModel"
                />
                <div class="alert-danger" *ngIf="registrationForm.submitted && firstname.invalid">
                    <div *ngIf="firstname.errors.required">
                        {{ 'form.errors.firstname.required' | translate }}
                    </div>
                    <div *ngIf="firstname.errors.pattern">
                        {{ 'form.errors.firstname.pattern' | translate }}
                    </div>
                </div>
            </div>

            <div class="form-group container">
                <label for="lastname">{{ 'form.lastname' | translate }}</label>
                <input
                    type="text"
                    class="form-control"
                    id="lastname"
                    name="lastname"
                    [(ngModel)]="registrationFormData.lastname"
                    required
                    pattern="[A-zÀ-ž\s-.]+"
                    maxlength="20"
                    #lastname="ngModel"
                />
                <div class="alert-danger" *ngIf="registrationForm.submitted && lastname.invalid">
                    <div *ngIf="lastname.errors.required">
                        {{ 'form.errors.lastname.required' | translate }}
                    </div>
                    <div *ngIf="lastname.errors.pattern">
                        {{ 'form.errors.lastname.pattern' | translate }}
                    </div>
                </div>
            </div>

            <div class="form-group container">
                <label for="gender">{{ 'form.gender' | translate }}</label>
                <select 
                    id="gender" 
                    class="form-control"
                    required
                    name="gender"
                    [(ngModel)]="registrationFormData.gender"
                    #gender="ngModel"
                >
                    <option>{{ 'form.gender-options.male' | translate }}</option>
                    <option>{{ 'form.gender-options.female' | translate }}</option>
                </select>
                <div class="alert-danger" *ngIf="registrationForm.submitted && gender.invalid">
                    <div *ngIf="gender.errors.required">
                        {{ 'form.errors.gender' | translate }}
                    </div>
                </div>
            </div>
            
            <div class="form-group container">
                <label for="birthdate">{{ 'form.birthday' | translate }}</label>
                <div id="birthdate" class="input-group">
                    <input 
                        class="form-control" 
                        placeholder="{{ 'form.birthday-placeholder' | translate }}"
                        name="dp" 
                        [(ngModel)]="model"
                        #birthdate="ngModel" 
                        ngbDatepicker
                        required
                        [minDate]="minDate"
                        [maxDate]="maxDate"
                        #d="ngbDatepicker"
                    />
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button"><i class='fas fa-calendar-alt'></i></button>
                    </div>
                </div>
                <div class="alert-danger" *ngIf="registrationForm.submitted && birthdate.invalid">
                    {{ 'form.errors.birthday' | translate }}
                </div>
            </div>

            <div class="form-group container">
                <label for="address">{{ 'form.address' | translate }}</label>
                <div class="row mx-0" id="address">
                    <input
                        type="text"
                        class="col-sm-8 mb-sm-3 form-control"
                        name="street"
                        [(ngModel)]="address.street"
                        required
                        pattern="[A-zÀ-ž\s-.]+"
                        maxlength="30"
                        placeholder="{{ 'form.address-placeholder.street' | translate }}"
                        #street="ngModel"
                    />
                    <div class="col-sm-3 mb-sm-3 alert-danger" *ngIf="registrationForm.submitted && street.invalid">
                        <div *ngIf="street.errors.required">
                            {{ 'form.errors.address.street.required' | translate }}
                        </div>
                        <div *ngIf="street.errors.pattern">
                            {{ 'form.errors.address.street.pattern' | translate }}
                        </div>
                    </div>
                    <input 
                        type="number"
                        class="col-sm-8 form-control" 
                        name="number"
                        [(ngModel)]="address.number"
                        required
                        pattern="[1-9][0-9]*"
                        placeholder="{{ 'form.address-placeholder.number' | translate }}"
                        #number="ngModel" 
                    />
                    <div class="col-sm-3 alert-danger" *ngIf="registrationForm.submitted && number.invalid">
                        {{ 'form.errors.address.number' | translate }}
                    </div>
                </div>
                
                <div class="row mt-3 mx-0" id="address">
                    <input 
                        type="text" 
                        class="col-sm-8 mb-sm-3 form-control" 
                        name="postcode"  
                        [(ngModel)]="address.postcode" 
                        [ngbTypeahead]="search"
                        (ngModelChange)="getCities($event, postcode)"
                        required
                        pattern="[0-9]+"
                        minlength="5"
                        maxlength="5"
                        placeholder="{{ 'form.address-placeholder.postcode' | translate }}"
                        #postcode="ngModel"
                    />
                    <div class="col-sm-3 mb-sm-3 alert-danger" *ngIf="registrationForm.submitted && postcode.invalid">
                        <div *ngIf="postcode.errors.required">
                            {{ 'form.errors.address.postcode.required' | translate }}
                        </div>
                        <div *ngIf="postcode.errors.pattern">
                            {{ 'form.errors.address.postcode.pattern' | translate }}
                        </div>
                        <div *ngIf="postcode.errors.minlength">
                            {{ 'form.errors.address.postcode.length' | translate }}  
                        </div>
                        <div *ngIf="postcode.errors.notFound" translate [translateParams]="{ en: postcode.errors.notFound, de: 'nicht gefunden' }">
                            form.errors.address.postcode.value
                        </div>
                    </div>
                    <select 
                        class="col-sm-8 form-control" 
                        name="city"
                        [(ngModel)]="address.city"
                        required
                        [disabled]="postcode.invalid"
                        #city="ngModel"
                    >
                        <!-- must use ngValue = undefined in order to show placeholder -->
                        <!-- selected can be without property binding => <option selected hidden> -->
                        <option *ngIf="toggleSelectPlaceholder" [ngValue]="undefined" selected hidden>{{ 'form.address-placeholder.city' | translate }}</option>
                        <option *ngIf="!toggleSelectPlaceholder" [ngValue]="address.city" selected hidden>{{ address.city }}</option>
                        <option *ngFor="let city of cities" [value]="city">
                            {{ city }}
                        </option>
                    </select>
                    <div class="col-sm-3 alert-danger" *ngIf="registrationForm.submitted && city.invalid">
                        {{ 'form.errors.address.city' | translate }}
                    </div>
                </div>
            </div>
  
            <div class="form-group">
                <button type="submit" [disabled]="registered" class="btn btn-primary btn-block">{{ 'form.submit' | translate }}</button>
            </div>
    
            <div class="alert alert-info" *ngIf="registrationForm.submitted && registered" translate [translateParams]="{ en: message, de: 'erfolgreich versendet!' }">
                form.submit-message
            </div>
        </form>
    </div>
  </div>