<div class="col-md-6 mx-auto">
    <div class="card card-container">
        <form
            (ngSubmit)="registrationForm.form.valid && onSubmit()"
            #registrationForm="ngForm"
            novalidate
        >
            <div class="form-group container mt-3">
                <label for="firstname">First Name</label>
                <input
                    type="text"
                    class="form-control"
                    id="firstname"
                    name="firstname"
                    [(ngModel)]="registrationFormData.firstname"
                    required
                    pattern="[A-zÀ-ž\s-.]+"
                    maxlength="20"
                    #firstname="ngModel"
                />
                <div class="alert-danger" *ngIf="registrationForm.submitted && firstname.invalid">
                    <div *ngIf="firstname.errors.required">
                        First name is required
                    </div>
                    <div *ngIf="firstname.errors.pattern">
                        Invalid characters
                    </div>
                </div>
            </div>

            <div class="form-group container">
                <label for="lastname">Last Name</label>
                <input
                    type="text"
                    class="form-control"
                    id="lastname"
                    name="lastname"
                    [(ngModel)]="registrationFormData.lastname"
                    required
                    pattern="[A-zÀ-ž\s-.]+"
                    maxlength="20"
                    #lastname="ngModel"
                />
                <div class="alert-danger" *ngIf="registrationForm.submitted && lastname.invalid">
                    <div *ngIf="lastname.errors.required">
                        Last name is required
                    </div>
                    <div *ngIf="lastname.errors.pattern">
                        Invalid characters
                    </div>
                </div>
            </div>

            <div class="form-group container">
                <label for="gender">Gender</label>
                <select 
                    id="gender" 
                    class="form-control"
                    required
                    name="gender"
                    [(ngModel)]="registrationFormData.gender"
                    #gender="ngModel"
                >
                    <option>Male</option>
                    <option>Female</option>
                </select>
                <div class="alert-danger" *ngIf="registrationForm.submitted && gender.invalid">
                    <div *ngIf="gender.errors.required">
                        Gender is required
                    </div>
                </div>
            </div>
            
            <div class="form-group container">
                <label for="birthdate">Date of Birth</label>
                <div id="birthdate" class="input-group">
                    <input 
                        class="form-control" 
                        placeholder="dd.mm.yyyy"
                        name="dp" 
                        [(ngModel)]="model"
                        #birthdate="ngModel" 
                        ngbDatepicker
                        required
                        [minDate]="minDate"
                        [maxDate]="maxDate"
                        #d="ngbDatepicker"
                    />
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button"><i class='fas fa-calendar-alt'></i></button>
                    </div>
                </div>
                <div class="alert-danger" *ngIf="registrationForm.submitted && birthdate.invalid">
                    Invalid date
                </div>
            </div>

            <div class="form-group container">
                <label for="address">Address</label>
                <div class="row mx-0" id="address">
                    <input
                        type="text"
                        class="col-8 form-control"
                        name="street"
                        [(ngModel)]="address.street"
                        required
                        pattern="[A-zÀ-ž\s-.]+"
                        maxlength="30"
                        placeholder="street"
                        #street="ngModel"
                    />  
                    <input 
                        type="number"
                        class="col-3 ml-auto form-control" 
                        name="number"
                        [(ngModel)]="address.number"
                        required
                        pattern="[1-9][0-9]*"
                        placeholder="number"
                        #number="ngModel" 
                    />
                </div>
                <div class="row mx-0">
                    <div class="col-8 alert-danger" *ngIf="registrationForm.submitted && street.invalid">
                        <div *ngIf="street.errors.required">
                            Required
                        </div>
                        <div *ngIf="street.errors.pattern">
                            Invalid characters
                        </div>
                    </div>
                    <div class="col-3 ml-auto alert-danger" *ngIf="registrationForm.submitted && number.invalid">
                        Invalid
                    </div>
                </div>
                <div class="row mt-3 mx-0" id="address">
                    <input 
                        type="text" 
                        class="col-6 form-control" 
                        name="postcode"  
                        [(ngModel)]="address.postcode" 
                        [ngbTypeahead]="search"
                        (ngModelChange)="getCities($event, postcode)"
                        required
                        pattern="[0-9]+"
                        minlength="5"
                        maxlength="5"
                        placeholder="postcode"
                        #postcode="ngModel"
                    />
                    <select 
                        class="col-4 ml-auto form-control" 
                        name="city"
                        [(ngModel)]="address.city"
                        required
                        [disabled]="postcode.invalid"
                        #city="ngModel"
                    >city
                        <!-- must use ngValue = undefined in order to show placeholder -->
                        <!-- selected can be without property binding => <option selected hidden> -->
                        <option [ngValue]="undefined" selected hidden>Select a city</option>
                        <option *ngFor="let city of cities" [value]="city">
                            {{ city }}
                        </option>
                       
                    </select>
                </div>
                <div class="row mx-0">
                    <div class="col-6 alert-danger" *ngIf="registrationForm.submitted && postcode.invalid">
                        <div *ngIf="postcode.errors.required">
                            Required
                        </div>
                        <div *ngIf="postcode.errors.pattern">
                            Invalid number
                        </div>
                        <div *ngIf="postcode.errors.minlength">
                            Postcode is a 5 digit number    
                        </div>
                        <div *ngIf="postcode.errors.notFound">
                            {{ postcode.errors.notFound }}
                        </div>
                    </div>
                    <div class="col-4 ml-auto alert-danger" *ngIf="registrationForm.submitted && city.invalid">
                        Required
                    </div>
                </div>
                
            </div>
  
            <div class="form-group">
                <button type="submit" [disabled]="registered" class="btn btn-primary btn-block">Submit</button>
            </div>
    
            <div class="alert alert-info" *ngIf="registrationForm.submitted && registered">
                {{ message }}
            </div>
        </form>
    </div>
  </div>