/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::-webkit-input-placeholder {
    font-size: 13px!important;
}

:-moz-placeholder { /* Firefox 18- */
    font-size: 13px!important;
}

:-ms-input-placeholder {
    font-size: 13px!important;
}

::-moz-placeholder {  /* Firefox 19+ */
    font-size: 13px!important;
}